/* Niet aankomen :( */
@import url('https://fonts.googleapis.com.css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* heel de pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px;
}

body {
  width: 100%;
}


/* Header styling */

/* Flexbox gebruikt voor opstellen van pagina */

/*Secties van de header verdelen*/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/*Streep onder logo weghalen*/
#header a {
  text-decoration: none;
}

/*navbar centeren*/
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*de 4 items op normale positie houden d.m.v relative*/
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

/*Style geven aan de 4 items*/
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}


#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

/*de streep onder de item op de active pagina*/
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}


/* style van de footer */


footer {
  background-color: black;
  color: black;
  bottom: 100vh;
  width: 100vw;
  font-size: 10px;
}

#page-container {
  position: relative;
  min-height: 0vh;
}

#content-wrap {
  padding-bottom: 0rem;
  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 100vh;
  width: 100%;
  height: 5ch;
  /* Footer height */
}

.row {
  padding: 1em 1em;
}

.row.primary {
  display: grid;
  grid-template-columns: 3fr 2fr 4fr;
  align-items: stretch;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

/* h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
} */

/* ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li:not(:first-child) {
  margin-top: 0.8em;
}

ul li a {
  color: #a7a7a7;
  text-decoration: none;
}

ul li a:hover {
  color: red;
} */

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

/* input,
button {
  font-size: 50%;
  padding: 0.125%;
  width: 14%;
  border-radius: 5px;
  margin-bottom: 5px;
}

button {
  background-color: red;
  color: #ffffff;
} */

div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

.social i {
  color: #bac6d9;
}

.copyright {
  padding: 0.3em 1em;
  background-color: #382e2e;
}

.footer-menu {
  float: left;
  margin-top: 10px;
}

.footer-menu a {
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}

.footer-menu a:hover,
.social i:hover {
  color: red;
}

.copyright p {
  font-size: 0.9em;
  text-align: right;
}

/* style over ons pagina */
.overons {
  margin-left: 25px;
}

.wiezijnwij h2 {
  margin-left: 1400px;
}

.wiezijnwij p {
  margin-left: 1300px;
}

.watwijdoen h2 {
  margin-left: 200px;
}

.watwijdoen p {
  margin-left: 100px;
}

.voorwiezijnwijer h2 {
  margin-left: 1400px;
}

.voorwiezijnwijer p {
  margin-left: 1300px;
}

@media screen and (max-width: 100%) {
  .row.primary {
    grid-template-columns: 1fr;
  }
}